<%- include('header'); %>
<div class="container theme-showcase" role="main">
<h1>
Equipe
</h1>
<p>Pedro Mathias Nakibar</p>
<p>Pedro Henrique Lecchi Braga</p>
<p>Lincoln Soares</p>
<p>Heitor (Bombeiro)</p>
</div>

<%- include('footer'); %>