<%- include('header'); %>
	<div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>Desenvolvido por:</h1>
        <tr>
        	<p>	Pedro Nakibar</p>
        	<p>	Pedro Lecchi</p>
        	<p>	Lincoln Soares</p>
        	<p>	Heitor Coelho</p>
    	</tr>
      </div>
  	</div>


<%- include('footer'); %>