<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>CSS3 Contact Form</title>
</head>
<body>
<div id="contact">
    <h1>Send an email</h1>
    <form action="/aluno" method="post">
        <fieldset>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="name" placeholder="Enter your full nome" />

            <label for="idade">Idade:</label>
            <input type="text" id="idade" name="age" placeholder="Enter your full nome" />

            <input type="submit" value="Send message" />

        </fieldset>
    </form>
</div>
</body>
</html>