<div class="modal-body">
	<form>
		<div class="form-group">
			<label for="recipient-name" class="control-label">Nome:</label>
			<input type="text" class="form-control" id="name">
		</div>

		<div class="form-group">
			<label for="recipient-name" class="control-label">Idade:</label>
			<input type="text" class="form-control" id="age">
		</div>

		<div class="form-group">
			<label for="recipient-name" class="control-label">Nivel na Força:</label>
			<input type="text" class="form-control" id="forcelevel">
		</div>
	</form>
</div>